{% extends 'base.html' %}

{% block content %}


  <div class="card text-white bg-secondary mb-3" style="max-width: 15000px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.postimg.cc/Pf37TY3T/aquariusconst.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h4 style="font-family: cursive">Date range: January 20- February 18</h4>
              <h4 style="font-family: cursive">Element: Water</h4>
              <h4 style="font-family: cursive">Quality: Fixed</h4>
              <h4 style="font-family: cursive">Color: Light-Blue, Silver</h4>
              <h4 style="font-family: cursive">Day: Saturday</h4>
              <h4 style="font-family: cursive">Ruler Planet: Uranus, Saturn</h4>
              <h4 style="font-family: cursive">Greatest Overall Compatibility: Leo, Sagittarius</h4>
              
              <p></p>
              
            <h3 class="card-title">Aquarius Traits</h3>
            <p></p>
            <h4 style="font-family: cursive"> Strengths: Progressive, original, independent, humanitarian</h>
            <p></p>
            <h4 style="font-family: cursive"> Weaknesses: Runs from emotional expression, temperamental, uncompromising, aloof</h>
            <p></p>
            <h4 style="font-family: cursive"> Aquarius likes: Fun with friends, helping others, fighting for causes, intellectual conversation, a good listene</h>  
            <p></p>
            <h4 style="font-family: cursive"> Aquarius dislikes: Limitations, broken promises, being lonely, dull or boring situations, people who disagree with them</h> 
          </div>
        </div>
      </div>
    </div>
  
    <div class="card text-white bg-dark mb-3" style="max-width: 10000px;">
        <div class="row no-gutters">
          <div class="col-md-8">
              <div class="card-body">
                  <h3 class="card-title">ABOUT AQUARIUS</h3>
                  <h5 class="card-text">Aquarians have a rebellious nature, and are eccentric, spontaneous and original. They are forward thinking and detached, and can seem conservative though they really are not very much so. They are scientifically minded and logical, and confident in manner.

                      Aquarians are likely to be years ahead of their time in the way they think. They can also appear to be more involved with work than with other people, although they truly value social contact.
                      
                      Aquarians are intuitive, imaginative and inventive, and inclined to take chances, especially in the service of their goals. They can be quite noble in their deepest nature, but also may come across as critical and demanding. Their highest purpose is found in aligning themselves with the advancement of social and humanitarian ideals.</h5>
              </div>
          </div>
          <div class="col-md-4" style="max-height: 500px">
              <img src="https://i.postimg.cc/7Y28pGM0/aquariusdark.png" class="card-img" alt="..." style="max-height: 500px">
          </div>
        </div>
      </div>  

{% endblock content %}