{% extends 'base.html' %}

{% block content %}

      <div class="card text-white bg-secondary mb-3" style="max-width: 15000px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.postimg.cc/5y18MYwv/ariesconst.png" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h4 style="font-family: cursive">Date range: March 21 - April 19</h4>
                <h4 style="font-family: cursive">Element: Fire</h4>
                <h4 style="font-family: cursive">Quality: Cardinal</h4>
                <h4 style="font-family: cursive">Color: Red</h4>
                <h4 style="font-family: cursive">Day: Tuesday</h4>
                <h4 style="font-family: cursive">Ruler Planet: Mars</h4>
                <h4 style="font-family: cursive">Greatest Overall Compatibility: Libra, Leo</h4>
                
                <p></p>
                
              <h3 class="card-title">Aries Traits</h3>
              <p></p>
              <h4 style="font-family: cursive"> Strengths: Courageous, determined, confident, enthusiastic, optimistic, honest, passionate </h>
              <p></p>
              <h4 style="font-family: cursive"> Weaknesses: Impatient, moody, short-tempered, impulsive, aggressive          </h>
              <p></p>
              <h4 style="font-family: cursive"> Aries likes: Comfortable clothes, taking on leadership roles, physical challenges, individual sports  </h>  
              <p></p>
              <h4 style="font-family: cursive"> Aries dislikes: Inactivity, delays, work that does not use one's talents</h> 
            </div>
          </div>
        </div>
      </div>

      <div class="card text-white bg-dark mb-3" style="max-width: 10000px;">
          <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">ABOUT ARIES</h3>
                    <h5 class="card-text">Aries people tend to be energetic, forceful and outgoing. They are good at getting things done, although they prefer starting to finishing. Like the energy of the first rush of spring, they move into the world in a headstrong, pioneering way. Aries people are likely to rush into things before reflecting, and may also be impatient or unwilling to sit back and allow events to mature. They have great vitality and a tremendous need to be physically active.
        
                        Aries people have a strong will, and are self-centered about pursuing it, so that they may try to dominate other people until they learn to be more subtle about getting their way. They also have an acute need for love and affection. Aries people benefit from self-discipline, so that they can channel their abundant energy more constructively.</h5>
                </div>
            </div>
            <div class="col-md-4" style="max-height: 500px">
                <img src="https://i.postimg.cc/8zhnNLYQ/ariesdark.png" class="card-img" alt="..." style="max-height: 500px">
            </div>
          </div>
        </div>



{% endblock content %}