{% extends 'base.html' %}

{% block content %}
<div class="card-deck">
                <div class="card">
                  <img src="https://images.unsplash.com/photo-1515192196389-608dce1784c4" class="card-img-top" alt="...">
                  <div class="card-body">
                  </div>
                </div>
                <div class="card">
                  <img src="https://i.postimg.cc/BnSxcjmK/arieslove.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                  </div>
                </div>
                <div class="card">
                  <img src="https://images.unsplash.com/photo-1515192196389-608dce1784c4" class="card-img-top" alt="...">
                  <div class="card-body"></div>
                  </div>
                </div>
              </div>



{% endblock content %}