{% extends 'base.html' %}

{% block content %}


  <div class="card text-white bg-secondary mb-3" style="max-width: 15000px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.postimg.cc/rFRRY96b/cancer-const.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h4 style="font-family: cursive">Date range: June 21-July 22</h4>
              <h4 style="font-family: cursive">Element: Water</h4>
              <h4 style="font-family: cursive">Quality: Cardinal</h4>
              <h4 style="font-family: cursive">Color: White</h4>
              <h4 style="font-family: cursive">Day: Monday,Thursday</h4>
              <h4 style="font-family: cursive">Ruler Planet: Moon</h4>
              <h4 style="font-family: cursive">Greatest Overall Compatibility: Capricorn, Taurus</h4>
              
              <p></p>
              
            <h3 class="card-title">Cancer Traits</h3>
            <p></p>
            <h4 style="font-family: cursive"> Strengths: Tenacious, highly imaginative, loyal, emotional, sympathetic, persuasive </h>
            <p></p>
            <h4 style="font-family: cursive"> Weaknesses: Moody, pessimistic, suspicious, manipulative, insecure</h>
            <p></p>
            <h4 style="font-family: cursive"> Cancer likes: Art, home-based hobbies, relaxing near or in water, helping loved ones, a good meal with friends</h>  
            <p></p>
            <h4 style="font-family: cursive"> Cancer dislikes: Strangers, any criticism of Mom, revealing of personal life</h> 
          </div>
        </div>
      </div>
    </div>
  
    <div class="card text-white bg-dark mb-3" style="max-width: 10000px;">
        <div class="row no-gutters">
          <div class="col-md-8">
              <div class="card-body">
                  <h3 class="card-title">ABOUT CANCER</h3>
                  <h5 class="card-text">Cancerians are nurturing and protective of others. Their ruling planet is the Moon, and they tend to be moody, with constantly changing emotions. Cancerians are also likely to be security-conscious and highly value their home life. They may appear passive, and tend to rely on their feelings to make decisions. They are subtle, rather than direct, and are likely to reflect the moods of those around them.

                      Cancerians may be involved with the past in some way, because the sign of Cancer, the sign of nurturing, protecting and sustaining, is strongly tied to the past, and the principle of Karma. They tend to collect the residue of past experience and hold onto it, allowing it to color present activities and lead them to instinctual action.
                      
                      Rather than allowing themselves to be driven by their changing moods, they benefit from shedding the light of conscious reason on their habitual patterns and focusing on their true goals.</h5>
              </div>
          </div>
          <div class="col-md-4" style="max-height: 500px">
              <img src="https://i.postimg.cc/Y0tMpprM/cancerdark.png" class="card-img" alt="..." style="max-height: 500px">
          </div>
        </div>
      </div>    

{% endblock content %}