{% extends 'base.html' %}

{% block content %}



  <div class="card text-white bg-secondary mb-3" style="max-width: 15000px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.postimg.cc/gkM4vpFp/capricornconst.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h4 style="font-family: cursive">Date range: December 22- January 19</h4>
              <h4 style="font-family: cursive">Element: Earth</h4>
              <h4 style="font-family: cursive">Quality: Cardinal</h4>
              <h4 style="font-family: cursive">Color: Brown, Black</h4>
              <h4 style="font-family: cursive">Day: Saturdayy</h4>
              <h4 style="font-family: cursive">Ruler Planet: Saturn</h4>
              <h4 style="font-family: cursive">Greatest Overall Compatibility: Taurus, Cancer</h4>
              
              <p></p>
              
            <h3 class="card-title">Capricorn Traits</h3>
            <p></p>
            <h4 style="font-family: cursive"> Strengths: Reliable, patient, practical, devoted, responsible, stable</h>
            <p></p>
            <h4 style="font-family: cursive"> Weaknesses:  Stubborn, possessive, uncompromising</h>
            <p></p>
            <h4 style="font-family: cursive"> Capricorn likes:  Gardening, cooking, music, romance, high quality clothes, working with hands</h>  
            <p></p>
            <h4 style="font-family: cursive"> Capricorn dislikes: Sudden changes, complications, insecurity of any kind, synthetic fabrics</h> 
          </div>
        </div>
      </div>
    </div>
  
    <div class="card text-white bg-dark mb-3" style="max-width: 10000px;">
        <div class="row no-gutters">
          <div class="col-md-8">
              <div class="card-body">
                  <h3 class="card-title">ABOUT CAPRICORN</h3>
                  <h5 class="card-text">Capricorn people are ambitious and practical, and are likely to have an excellent sense of social responsibility. They also tend to be conscious of social mores, perhaps to the point of over-concern. Their natural caution allows them to advance slowly and steadily to the top. Capricorn represents the accomplishments of the material and the quest for prestige, honor and success in public achievement. It is also possible that the driving force behind their ambition partially lies in deep-rooted feelings of insecurity.

                      Capricorns put themselves under enormous pressure to perform, and can feel personally responsible for those around them. They may have suffered from a restrictive early environment, and their aloofness may serve to protect them from dealing with a fear of intimacy, or low self-esteem. Capricorns exemplify the values of hard work and accomplishment, and service to the goals of humanity. Their redemption comes when they allow the spiritual joy that they feel inside to fully express itself in graceful acts of loving-kindness.</h5>
              </div>
          </div>
          <div class="col-md-4" style="max-height: 500px">
              <img src="https://i.postimg.cc/4xn1yVyF/capricorndark.png" class="card-img" alt="..." style="max-height: 500px">
          </div>
        </div>
      </div>  
  </div>

{% endblock content %}