{% extends 'base.html' %}

{% block content %}


  <div class="card text-white bg-secondary mb-3" style="max-width: 15000px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.postimg.cc/6QMPqZWr/geminiconst.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h4 style="font-family: cursive">Date range: May 21- June 20</h4>
              <h4 style="font-family: cursive">Element: Air</h4>
              <h4 style="font-family: cursive">Quality: Mutable</h4>
              <h4 style="font-family: cursive">Color: Light-Green, Yellow</h4>
              <h4 style="font-family: cursive">Day: Wednesday</h4>
              <h4 style="font-family: cursive">Ruler Planet: Mercury</h4>
              <h4 style="font-family: cursive">Greatest Overall Compatibility: Aquarius, Sagittarius</h4>
              
              <p></p>
              
            <h3 class="card-title">Gemini Traits</h3>
            <p></p>
            <h4 style="font-family: cursive"> Strengths: Gentle, affectionate, curious, adaptable, ability to learn quickly and exchange ideas</h>
            <p></p>
            <h4 style="font-family: cursive"> Weaknesses: Nervous, inconsistent, indecisive</h>
            <p></p>
            <h4 style="font-family: cursive"> Gemini likes: Music, books, magazines, chats with nearly anyone, short trips around the town</h>  
            <p></p>
            <h4 style="font-family: cursive"> Gemini dislikes: Being alone, being confined, repetition and routine</h> 
          </div>
        </div>
      </div>
    </div>
  
    <div class="card text-white bg-dark mb-3" style="max-width: 10000px;">
        <div class="row no-gutters">
          <div class="col-md-8">
              <div class="card-body">
                  <h3 class="card-title">ABOUT GEMINI</h3>
                  <h5 class="card-text">Gemini is the sign associated with communication, logical thought processes (based on duality) and the conscious mind. Gemini people tend to be airy and intellectual, glib of tongue and curious about life and other people. They can experience two sides of things at the same time, and may tend to be flighty.

                      Geminis move through life like butterflies, engaging in many varied experiences to gain knowledge. They are witty and have a good sense of humor, and are likely to be excellent conversationalists. Geminis make good teachers. They can be nervous and high-strung, and may be mischievous. Unlike possessive Taurus, they tend toward liberty in relationship. And although Geminis can be easily bored, under the control of self-discipline they have tremendous intellectual and artistic possibilities.</h5>
              </div>
          </div>
          <div class="col-md-4" style="max-height: 500px">
              <img src="https://i.postimg.cc/C5Mtd5WM/geminidark.png" class="card-img" alt="..." style="max-height: 500px">
          </div>
        </div>
      </div>  
{% endblock content %}