{% extends 'base.html' %}

{% block content %}



  <div class="card text-white bg-secondary mb-3" style="max-width: 15000px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.postimg.cc/jdqJQJtw/libraconst.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h4 style="font-family: cursive">Date range: September 23- October 22</h4>
              <h4 style="font-family: cursive">Element: Air</h4>
              <h4 style="font-family: cursive">Quality: Cardinal/h4>
              <h4 style="font-family: cursive">Color: Pink, Green</h4>
              <h4 style="font-family: cursive">Day: Friday</h4>
              <h4 style="font-family: cursive">Ruler Planet: Venus</h4>
              <h4 style="font-family: cursive">Greatest Overall Compatibility: Aries, Sagittarius</h4>
              
              <p></p>
              
            <h3 class="card-title">Libra Traits</h3>
            <p></p>
            <h4 style="font-family: cursive"> Strengths:  Cooperative,diplomatic, gracious, fair-minded, social</h>
            <p></p>
            <h4 style="font-family: cursive"> Weaknesses:  Indecisive, avoids confrontations, will carry a grudge, self-pity</h>
            <p></p>
            <h4 style="font-family: cursive"> Libra likes:  Harmony, gentleness, sharing with others, the outdoors</h>  
            <p></p>
            <h4 style="font-family: cursive"> Libra dislikes: Violence, injustice, loudmouths, conformity</h> 
          </div>
        </div>
      </div>
    </div>
  
    <div class="card text-white bg-dark mb-3" style="max-width: 10000px;">
        <div class="row no-gutters">
          <div class="col-md-8">
              <div class="card-body">
                  <h3 class="card-title">ABOUT LIBRA</h3>
                  <h5 class="card-text">Libra is the sign of harmony and relationship. The Sun in Libra is at the time of the Equinox, when day equals night, and similarly Libra strives for balance between polarities.

                      Librans are known for their good taste, elegance and charm. They are seekers of harmony and beauty. Their natural mode of living is in partnership with others. Intimate relationships are quite important to them, as are issues of social justice. Libras forever hope that all parties in a conflict will be satisfied, and they have a tendency to understand and support both sides of a dispute, which can drive their friends crazy unless they are smart enough to value the mediation that Libras naturally provide. Libras will go out of thier way to avoid a quarrel, and they may have a hard time making a decision.
                      
                      Artistic pursuits of all kinds provide an outlet for Libras' love of beauty. They benefit from strengthening their will to act in favor of their higher purpose, which ultimately lies in dedicating themselves to humanity at large.</h5>
              </div>
          </div>
          <div class="col-md-4" style="max-height: 500px">
              <img src="https://i.postimg.cc/cHW1978D/libradark.png" class="card-img" alt="..." style="max-height: 500px">
          </div>
        </div>
      </div>  

{% endblock content %}