{% extends 'base.html' %}

{% block content %}


  <div class="card text-white bg-secondary mb-3" style="max-width: 15000px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.postimg.cc/0y8KnKvK/piscesconst.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h4 style="font-family: cursive">Date range: February 19-March 20</h4>
              <h4 style="font-family: cursive">Element: Water</h4>
              <h4 style="font-family: cursive">Quality: Mutable</h4>
              <h4 style="font-family: cursive">Color: Mauve, Lilac, Purple, Violet, Sea green</h4>
              <h4 style="font-family: cursive">Day: Monday,Thursday</h4>
              <h4 style="font-family: cursive">Ruler Planet: Neptune, Jupiter</h4>
              <h4 style="font-family: cursive">Greatest Overall Compatibility: Virgo,Scorpio,Taurus</h4>
              
              <p></p>
              
            <h3 class="card-title">Pisces Traits</h3>
            <p></p>
            <h4 style="font-family: cursive"> Strengths: Compassionate, artistic, intuitive, gentle, wise, musical </h>
            <p></p>
            <h4 style="font-family: cursive"> Weaknesses: Fearful, overly trusting, sad, desire to escape reality, can be a victim or a martyr</h>
            <p></p>
            <h4 style="font-family: cursive"> Pisces likes: Being alone, sleeping, music, romance, visual media, swimming, spiritual themes</h>  
            <p></p>
            <h4 style="font-family: cursive"> Pisces dislikes: Know-it-all, being criticized, the past coming back to haunt, cruelty of any kind</h> 
          </div>
        </div>
      </div>
    </div>
  
    <div class="card text-white bg-dark mb-3" style="max-width: 10000px;">
        <div class="row no-gutters">
          <div class="col-md-8">
              <div class="card-body">
                  <h3 class="card-title">ABOUT PISCES</h3>
                  <h5 class="card-text">Pisceans are friendly and likable, and yet can be very moody and introspective as well. Pisces is a watery sign, concerned with subtle emotions and secret mystical depths. Pisceans are not entirely at home in this world. They may at times prefer their inner life to this one. Pisceans are dreamy and full of imagination, and are easily influenced by everything around them, being quite sensitive to the emotions of others. They also have an artistic temperament that allows them to express these feelings in creative and innovative ways.

                      Pisceans can be strong when necessary, but may have a hard time making a decision. They also may experience upsets periodically, stemming from their extreme sensitivity as they react to situations and events that seem harsh. At their best Pisceans are truly compassionate, offering service, love and understanding to all of life.</h5>
              </div>
          </div>
          <div class="col-md-4" style="max-height: 500px">
              <img src="https://i.postimg.cc/15gYfk8Q/piscesdark.png" class="card-img" alt="..." style="max-height: 500px">
          </div>
        </div>
      </div>    

{% endblock content %}