{% extends 'base.html' %}

{% block content %}





<div class="card text-white bg-secondary mb-3" style="max-width: 15000px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.postimg.cc/HszRRbQw/sagconst.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h4 style="font-family: cursive">Date range: November 22-December 21</h4>
            <h4 style="font-family: cursive">Element: Fire</h4>
            <h4 style="font-family: cursive">Quality: Mutable</h4>
            <h4 style="font-family: cursive">Color: Blue</h4>
            <h4 style="font-family: cursive">Day: Thursday</h4>
            <h4 style="font-family: cursive">Ruler Planet: Jupiter</h4>
            <h4 style="font-family: cursive">Greatest Overall Compatibility: Gemini,Aries,Leo</h4>
            
            <p></p>
            
          <h3 class="card-title">Sagittarius Traits</h3>
          <p></p>
          <h4 style="font-family: cursive"> Strengths: Generous, idealistic, great sense of humor </h>
          <p></p>
          <h4 style="font-family: cursive"> Weaknesses: Promises more than can deliver, very impatient, will say anything no matter how undiplomatic </h>
          <p></p>
          <h4 style="font-family: cursive"> Sagittarius likes: Freedom, travel, philosophy, being outdoors</h>  
          <p></p>
          <h4 style="font-family: cursive"> Sagittarius dislikes: Clingy people, being constrained, off-the-wall theories, details</h> 
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3" style="max-width: 10000px;">
      <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">ABOUT SAGITTARIUS</h3>
                <h5 class="card-text">Sagittarius is an optimistic, positive-thinking sign associated with the quest for freedom from all restriction as well as idealism, religion and philosophy.

                    Sagittarians are direct and forthright, good-natured and affirmative in their outlook. They tend to speak with a blunt tongue, which can get them into trouble at times, although they are usually able to laugh themselves out of it. Sagittarians display honesty and a strong moral nature. They also like to have fun and enjoy a good chuckle, even at their own expense. They gravitate toward adventure, sports and travel, as well as gambling and other forms of risk-taking.
                    
                    They are likely to be very curious about the world around them, with a love for nature and a contagious enthusiasm for exploration of all kinds. At the highest level, Sagittarians are concerned with understanding, perception, and mental activity in the service of their high ideals for the benefit of mankind.</h5>
            </div>
        </div>
        <div class="col-md-4" style="max-height: 500px">
            <img src="https://i.postimg.cc/fy1t2t7B/sagittariusdark.png" class="card-img" alt="..." style="max-height: 500px">
        </div>
      </div>
    </div>   

{% endblock content %}