{% extends 'base.html' %}

{% block content %}


  <div class="card text-white bg-secondary mb-3" style="max-width: 15000px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.postimg.cc/NFBQtTp1/scorpio-const.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h4 style="font-family: cursive">Date range: October 23-November 21</h4>
              <h4 style="font-family: cursive">Element: Water</h4>
              <h4 style="font-family: cursive">Quality: Fixed</h4>
              <h4 style="font-family: cursive">Color: Scarlet, Red, Rust</h4>
              <h4 style="font-family: cursive">Day: Tuesday</h4>
              <h4 style="font-family: cursive">Ruler Planet: Pluto,Mars</h4>
              <h4 style="font-family: cursive">Greatest Overall Compatibility: Cancer, Taurus</h4>
              
              <p></p>
              
            <h3 class="card-title">Scorpio Traits</h3>
            <p></p>
            <h4 style="font-family: cursive"> Strengths: Resourceful, brave, passionate, stubborn, a true friend</h>
            <p></p>
            <h4 style="font-family: cursive"> Weaknesses: Distrusting, jealous, secretive, violent</h>
            <p></p>
            <h4 style="font-family: cursive"> Scorpio likes:  Truth, facts, being right, longtime friends, teasing, a grand passion</h>  
            <p></p>
            <h4 style="font-family: cursive"> Scorpio dislikes: Dishonesty, revealing secrets, passive people</h> 
          </div>
        </div>
      </div>
    </div>
  
    <div class="card text-white bg-dark mb-3" style="max-width: 10000px;">
        <div class="row no-gutters">
          <div class="col-md-8">
              <div class="card-body">
                  <h3 class="card-title">ABOUT SCORPIO</h3>
                  <h5 class="card-text">Scorpio is the most intense sign of the Zodiac, and is associated with sexual activity and with the symbolism of death and rebirth. Their emotions run deep.

                      Scorpios have great personal magnetism and great powers of persuasion or even the ability to coerce others. Their will is strong, and they let nothing stand in their way of achieving their goals. They may suffer in life, but their pain leads to important personal transformation. They are very good at group dynamics, and working with the public.
                      
                      Scorpios are a shrewd judge of other people's motives, and may be willing to use their special knowledge to their own advantage. Although they can be manipulative at times, when they work out their issues to be more in line with their own higher nature, they can take on the charismatic power of a natural healer, transforming themselves and society around them.</h5>
              </div>
          </div>
          <div class="col-md-4" style="max-height: 500px">
              <img src="https://i.postimg.cc/QtTJX364/scorpiodark.png" class="card-img" alt="..." style="max-height: 500px">
          </div>
        </div>
      </div>    


{% endblock content %}