{% extends 'base.html' %}

{% block content %}



  <div class="card text-white bg-secondary mb-3" style="max-width: 15000px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.postimg.cc/g0pp83b1/taurusconst.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h4 style="font-family: cursive">Date range: April 20-May 20</h4>
              <h4 style="font-family: cursive">Element: Earth</h4>
              <h4 style="font-family: cursive">Quality: Fixed/h4>
              <h4 style="font-family: cursive">Color: Pink, Green</h4>
              <h4 style="font-family: cursive">Day: Monday,Friday</h4>
              <h4 style="font-family: cursive">Ruler Planet: Venus</h4>
              <h4 style="font-family: cursive">Greatest Overall Compatibility: Scorpio, Cancer</h4>
              
              <p></p>
              
            <h3 class="card-title">Taurus Traits</h3>
            <p></p>
            <h4 style="font-family: cursive"> Strengths: Reliable, patient, practical, devoted, responsible, stable</h>
            <p></p>
            <h4 style="font-family: cursive"> Weaknesses:  Stubborn, possessive, uncompromising</h>
            <p></p>
            <h4 style="font-family: cursive"> Taurus likes:  Gardening, cooking, music, romance, high quality clothes, working with hands</h>  
            <p></p>
            <h4 style="font-family: cursive"> Taurus dislikes: Sudden changes, complications, insecurity of any kind, synthetic fabrics</h> 
          </div>
        </div>
      </div>
    </div>
  
    <div class="card text-white bg-dark mb-3" style="max-width: 10000px;">
        <div class="row no-gutters">
          <div class="col-md-8">
              <div class="card-body">
                  <h3 class="card-title">ABOUT TAURUS</h3>
                  <h5 class="card-text">Taureans revel in the pleasures of life. They crave the security and comfort of relaxing in the warmth of their home environment. They value the senses and the enjoyment of material things. Taureans are likely to work hard to make their home an attractive one. They also have the makings of a healer and have a large capacity for kindness.

                      Although they are quiet on the surface, almost passive, Taureans possess a powerful will and can be quite stubborn at times, and perhaps somewhat rigid in their thinking. Taureans also tend to be loving, obedient and loyal. Material rewards seem to come easily to them, and they are able to lead the good life without being excessively concerned about it. Taureans are practical, and provide a purposeful, productive and stabilizing influence for themselves and all those around them.</h5>
              </div>
          </div>
          <div class="col-md-4" style="max-height: 500px">
              <img src="https://i.postimg.cc/0yHc0Zhs/taurusdark.png" class="card-img" alt="..." style="max-height: 500px">
          </div>
        </div>
      </div>  

{% endblock content %}