{% extends 'base.html' %}

{% block content %}

  <div class="card text-white bg-secondary mb-3" style="max-width: 15000px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.postimg.cc/h4QSFDsy/virgoconst.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h4 style="font-family: cursive">Date range: August 23-September 22</h4>
              <h4 style="font-family: cursive">Element: Earth</h4>
              <h4 style="font-family: cursive">Quality: Quality/h4>
              <h4 style="font-family: cursive">Color: Grey, Beige, Pale-Yellow</h4>
              <h4 style="font-family: cursive">Day: Wednesday</h4>
              <h4 style="font-family: cursive">Ruler Planet: Mercury</h4>
              <h4 style="font-family: cursive">Greatest Overall Compatibility: Pisces, Cancer</h4>
              
              <p></p>
              
            <h3 class="card-title">Virgo Traits</h3>
            <p></p>
            <h4 style="font-family: cursive"> Strengths:  Loyal, analytical, kind, hardworking, practical</h>
            <p></p>
            <h4 style="font-family: cursive"> Weaknesses:  Shyness, worry, overly critical of self and others, all work and no play</h>
            <p></p>
            <h4 style="font-family: cursive"> Virgo likes: Animals, healthy food, books, nature, cleanliness</h>  
            <p></p>
            <h4 style="font-family: cursive"> Virgo dislikes: Rudeness, asking for help, taking center stage</h> 
          </div>
        </div>
      </div>
    </div>
  
    <div class="card text-white bg-dark mb-3" style="max-width: 10000px;">
        <div class="row no-gutters">
          <div class="col-md-8">
              <div class="card-body">
                  <h3 class="card-title">ABOUT VIRGO</h3>
                  <h5 class="card-text">Virgo people tend to be very conscious of details. They may appear nervous or obsess over health issues. They are likely to be neat and orderly, at least in some area of their life, although they may exhibit the opposite tendency in cases where they have not yet found their guiding principle of organization.

                      Virgos love work, service to others and the gathering of the fruits of the material world, as symbolized by the harvest. They are also likely to be a good conversationalist, with wide-ranging knowledge and interesting ideas. They can be analytical and perhaps overly fond of detail, with perfectionist tendencies, and they may miss out on the big picture by concentrating on the micro. It also benefits them to learn the fine line between discrimination and criticism.
                      
                      Virgos' mission in life is the purification of their activity in pursuit of their goals, manifesting their inherent love of excellence in all strivings.</h5>
              </div>
          </div>
          <div class="col-md-4" style="max-height: 500px">
              <img src="https://i.postimg.cc/bYHShryD/virgodark.png" class="card-img" alt="..." style="max-height: 500px">
          </div>
        </div>
      </div>  


{% endblock content %}